Makefile.in
aclocal.m4
build-stamp
config.guess
config.h.in
config.sub
configure
debian/files
debian/tmp
debian/*.debhelper.log
debian/*.substvars
debian/xserver-xorg-video-sec/
depcomp
install-sh
ltmain.sh
missing
/obj-i486-linux-gnu/
/obj-arm-linux-gnueabi/
stampdir
/autom4te.cache/
/debian/xserver-xorg-video-emulfb-dbg/
/debian/xserver-xorg-video-emulfb/
