Source: xserver-xorg-video-emulfb
Section: x11
Priority: optional
Maintainer: SooChan Lim <sc1.lim@samsung.com>
Uploaders: Sung-Jin Park <sj76.park@samsung.com>, SooChan Lim <sc1.lim@samsung.com>, YoungHoon Jung <yhoon.jung@samsung.com>, Sangjin Lee <lsj119@samsung.com>, Boram Park <boram1288.park@samsung.com>
Build-Depends: debhelper (>= 5.0.0), quilt, pkg-config, xserver-xorg-dev (>= 1.5.99.901), x11proto-core-dev, x11proto-fonts-dev, x11proto-randr-dev, x11proto-render-dev, x11proto-video-dev, dpkg-dev (>= 1.14.17), automake, libtool, xutils-dev, libdrm-dev, dlog-dev (>= 0.3.3-0), libpixman-1-dev
Standards-Version: 3.7.3

Package: xserver-xorg-video-emulfb
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${xserver}
Provides: ${xviddriver:Provides}
Replaces: xserver-xorg (<< 6.8.2-35)
Description: X.Org X server -- emulfb display driver for sdk emulation
 This package provides the driver for the Samsung display device

Package: xserver-xorg-video-emulfb-dbg
Architecture: any
Section: debug
Depends: ${shlibs:Depends}, ${misc:Depends}, ${xserver}, xserver-xorg-video-emulfb
Description: X.Org X server -- emulfb display driver for sdk emulation (unstripped)
 This package provides the driver for the Samsung display device
